.header {
    margin-bottom: 2rem;
}

.user-title{
    color: #fff;
}

.edit-form-button-container{
    display: flex;
    justify-content: space-around;
}

.edit-button {
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    cursor: pointer;
}

.edit-form{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.disabled{
    color: rgb(187, 187, 187);
    background-color: grey;
}